/* ------------------ LIGHTBOX ------------------ */

@media screen and (min-width: 1200px) {
	.gallery_column .lightbox_thumb {
		float: left;
		width: 100%;
	}
}	

@media screen and (max-width: 1200px) {
	.gallery_column .lightbox_thumb {
		float: left;
		width: 100%;
	}
}	

@media screen and (max-width: 800px) {
	.gallery_column .lightbox_thumb {
		float: left;
		width: 100%;
	}
}	




body.lb-disable-scrolling {
	overflow: hidden;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20001;
	background-color: white;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 1;
	display: none;
}

#lightbox {
	display: flex;
	top: 20px;
	flex-direction: column-reverse;    
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 20002;
	text-align: center;
	line-height: 0;
	font-weight: normal;
	outline: none;
	overflow: hidden;
}

.lightbox .lb-image {
	display: block;
	height: absolute;
	max-width: inherit;
	max-height: none;
	border-radius: 0px;

	/* Image border */
	border: 0px solid white;
}

.lightbox a img {
	border: none;
}

.lb-outerContainer {
	position: relative;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 0px;

	/* Background color behind image.
	 This is visible during transitions. */
	background-color: white;
}

.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(../images/gallery/controls/loading.gif) no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: none;
}

.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../images/gallery/controls/prev_arrow.svg) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-nav a.lb-next {
	width: 64%;
	margin-right: 0px;
	float: right;
	background: url(../images/gallery/controls/next_arrow.svg) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	right: 20px;
}

.lb-dataContainer {
	margin: 0 auto;
	height: 100px;
	margin-bottom: 0px;
	*zoom: 1;
	width: 100%;
	/* border-bottom-left-radius: 0px; */
	/* border-bottom-right-radius: 0px; */
}

.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-data {
	padding: 0px;
	color: #ccc;
}

.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
}

.lb-data .lb-caption {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	line-height: 1em;
	font-weight: 400;
}

.lb-data .lb-caption a {
	color: #4ae;
}

.lb-data .lb-number {
	display: block;
	clear: left;
	display: none;
	padding-bottom: 1em;
	font-size: 12px;
}

.lb-data .lb-close {
	display: block;
	float: right;
	margin: 26px;
	width: 48px;
	height: 48px;
	background: url(../images/gallery/controls/close_large.svg) top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

@media screen and (max-width: 1000px) {
	.lb-data .lb-close {
		scale: .5;
		margin-top: 16px;
		margin-right: 20px;
	}

	.lb-dataContainer {
		height: 80px;
	}

}

.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
