 /* pageo
  v 2.0 - 08-2023
*/


@import url("editorial.css");
@import url("topnav.css");



/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}



/* GENERAL –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: fit-content;
}

p {
	color: #222222;
	text-align: left;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
	line-height: 30px; /* 150% */
}

h1 {h3
	color: #222222;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	font-size: 72px;
	line-height: 72px;
}

.h1b {
	color: #222222;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: .2px;
	font-size: 64px;
	line-height: 72px;

}

h2 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .2px;
	font-size: 48px;
	line-height: 56px;
}

h3 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	line-height: 54px; 

}

h4 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	letter-spacing: .2px;
	line-height: 40px; 
}

h5 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 34px; 
}

h6 {
	color: #222222;
	text-align: left;
	font-family: urw-din, Sans-Serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	line-height: 28px; 
}

a {
	text-decoration: none;
	color: #222;
}






/* TOUT1 –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/*.tout1 {
	display: block;
	text-align: center;
	max-width: 1120px;
	margin: 40px auto 80px auto;
	padding: 80px 80px 80px 80px;
	position: relative;
	background-color: #FFFFFF;
	border: 1px dashed #D1C6AC;
} */

.tout1 h3 {
	max-width: 800px;
	line-height: 60px;
	font-weight: 400;
	margin: auto;
	padding-bottom: 40px;
}

.tout1 h5 {
	max-width: 800px;
	font-weight: 400;
	padding: 20px 0 20px 0;
	line-height: 50px;
	margin: auto;
}

.tout1 {
	display: block;
	max-width: 980px;
	margin: 0px auto 0px auto;
	padding: 120px 40px 80px 40px;
	text-align: center;
	position: relative;
	background-color: #FFFFFF;
	border: none;
}


@media screen and (max-width: 1000px) {

	.tout1 h5 {
		padding: 20px 0 20px 0;
		line-height: 40px;
	}

	.tout1 h3 {;
		line-height: 50px;
	}

}

@media screen and (max-width: 800px) {

	.tout1 h5 {
		font-size: 20px;
		padding: 16px 0 16px 0;
		line-height: 30px;
	}
		
	.tout1 h3 {
		font-size: 32px;
		line-height: 40px;
		max-width: 600px;
		margin: auto;
		padding-top: 8px auto 20px auto;
	}

	.tout1 {
		display: block;
		max-width: 980px;
		margin: 0px auto 0px auto;
		padding: 80px 40px 80px 40px;
		text-align: center;
		position: relative;
		border: none;
	}

}


/* DIVIDER  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.divider {
	height: 165px;
	text-align: center;
	width: 100%;
	font-size: 32px;
	line-height: 160px;
	font-family: Baskerville-URW, filosofia, serif;
	color: #444444;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-top: 0px;
	border-top: 3px solid #CCCCCC;
	border-bottom: 2px dashed #CCCCCC;
}

.divider h2 {
	text-align: center;
	font-family: Baskerville-URW, filosofia, serif;
	color: #444444;
	line-height: 165px;
}

@media screen and (max-width: 1000px) {

	.divider {
		height: 120px;
		width: 100%;
		font-size: 32px; 
		text-align: center;
		line-height: 115px;
		margin-top: 0px;
		border-top: 4px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
	}
	
	.divider h2 {
		font-size: 32px; 
		line-height: 120px;
		
	}
}

@media screen and (max-width: 800px) {
	
	.divider {
		font-size: 28px; 
		line-height: 112px;
		
	}
}



/* AWARDS –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


#awards {
	width: 100%;
	border-top: 1px dashed #888;
	height: auto;
	position: relative;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 40px;
	padding-bottom: 0px;
}

.award_row1 {
	margin-top: 40px;
	float: left;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.award {
	width: 100px;
	height: 100px;
	float: left;
	margin: 40px;
}

.award_filter {
    filter: invert(57%) sepia(9%) saturate(0%) hue-rotate(162deg) brightness(93%) contrast(89%);
}

@media screen and (max-width: 800px) {
	.award_row1 {
		float: left;
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.award_filter {
		scale: .8;
	}

	.award {
		width: 100px;
		height: 100px;
		float: left;
		margin: 20px;
	}

}


@media screen and (max-width: 600px) {
	.award_row1 {
		float: left;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.award_filter {
		scale: 1;
	}

	.award {
		width: 100px;
		height: 100px;
		float: left;
		margin: 40px;
	}

}


@media screen and (max-width: 400px) {
	.award_row1 {
		float: left;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.award_filter {
		scale: .8;
	}

	.award {
		width: 100px;
		height: 100px;
		float: left;
		margin: 20px;
	}

}




/* SERVICES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */



@media (max-width: 1200px) {
  .services1 {
    padding: 0px 20px 0px 20px;
  }
}

.services1 p {
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 12pt;
	text-align: center;
	line-height: 18pt;
	color: #222;
   	padding-right: 10px;
   	padding-left: 10px;
}

.services1 h6 {
	text-align: center;
	padding-bottom: 16px;
}

.services1 {
	margin: 40px auto 60px auto;
	padding: 0px 32px 20px 32px;
	height: auto;
	display: flex;
	flex-direction: row;
	font-size: 30px;
	text-align: center;
	gap: 20px;
	width: 100%;
	max-width: 1184px;
}


.services1_left, .services1_center, .services1_right {
	background-color: #F8F4F1;
	padding: 24px 20px 32px 20px;
	flex: 33%;
	border-radius: 8px;
}

.our_services h5 {
	text-align: center;
	max-width: 780px;
	margin: 60px auto 20px auto;
	padding: 0px 40px 20px 40px;
	color: #444444;
}

@media screen and (max-width: 1000px) {
	
	.services1 {
		margin: 40px auto 40px auto;
		padding: 0px 32px 0px 32px;
		height: auto;
		display: flex;
		font-size: 30px;
		text-align: center;
		width: 100%;
		max-width: 1120px;
	}

	.our_services h5 {
		padding: 0px 40px 0px 40px;
	}

	.services1 {
		gap: 16pt;
		flex-direction: column;
	}

	.services1 p {
		max-width: 640px;
		margin: auto;
		padding-bottom: 10px;
	}

	.services1_left, .services1_center, .services1_right {
		flex: 33%;
	}
	
}	

@media screen and (max-width: 800px) {

	.services1 {
		margin: auto;
		height: auto;
		display: flex;
		font-size: 30px;
		text-align: center;
		gap: 16px;
		width: 100%;
		max-width: 1120px;
		flex-direction: column;
		padding: 20px 20px 60px 20px;
	}

	.services1 p {
		max-width: 440px;
		margin: auto;
		padding-bottom: 10px;
	}
		

}


/* –––––– */


* {
	box-sizing: border-box;
}

.card {
	background-color: #E4F4E9;
	text-align: center;
	padding: 1rem;
	height: auto;
	border-radius: 8px;
	/*
    background-position: center;
    background-position: top;
    background-image: url('../images/weddings/background_blur/bg_03_desktop.png'), url('../images/weddings/background_blur/bg_02_desktop.png');
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	*/

	
}

.cards {
	max-width: 1200px;
	margin: 40px auto 40px auto;
	display: grid;
	padding: 40px 20px 40px 20px;
	text-align: center;
	gap: 20px;
	width: 100%;
}

.cards p {
   	padding-right: 20px;
	max-width: 440px;
	margin: auto;
   	padding-left: 20px;
   	padding-bottom: 20px;
   	color: #222222;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 12pt;
	text-align: center;
	line-height: 18pt;
}

.cards h6 {
   	padding-right: 20px;
   	padding-left: 20px;
   	color: #7B7261;
	text-align: center;
	padding-bottom: 16px;
}


@media (min-width: 1200px) {
	.cards { 
		grid-template-columns: repeat(4, 1fr);
		padding: 40px 20px 40px 20px;
	}
}

@media (max-width: 1200px) {
	.cards {
		margin: 40px auto 40px auto; 	
		padding: 0px 40px;
	}
}

@media (min-width: 800px) {
	.cards { 
		grid-template-columns: repeat(2, 1fr); 
	}
}

@media (max-width: 800px) {
	.cards { 
		padding: 0px 20px 0px 20px;
		margin: 20px auto 20px auto; 
	}
}




/* GETINTOUCH –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.getintouch_content {
	display: flex;
	width: 40%;
	padding-left: 40px;
	padding-top: 40px;
	flex-direction: column;
	align-items: left;
	gap: 10px;
}

.getintouch_left {
	padding: 60px 40px 0px 20px;
	margin-top: 0px;
	flex: 50%;
}

.getintouch_left h4 ol li {
	padding-bottom: 24px;
}

.getintouch_form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.getintouch_right {
	background-color: #FFFFFF;
	padding: 20px 40px 0px 40px;
	margin-top: 60px;
	flex: 50%;
	height: fit-content;
}

.getintouch_left h4 ol li {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
}

@media (max-width: 1000px) {
	.getintouch_right, .getintouch_left {
		flex: 100%;
  }
}

.getintouch_background {
    background-position: center;
    background-position: top;
    background-image: url('../images/home/get_in_touch_bg.png');
    background-color: #FFFFF6;
    background-repeat: no-repeat;
    background-size: cover;
}

.getintouch {
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
	box-sizing: border-box;
	width: 100%;
	max-width: 1120px;
	padding-bottom: 60px;
	height: auto;
	margin: auto;
}

* {
  box-sizing: border-box;
}

.getintouch_right {
	background-color: #FFFFFF;
	flex: 50%;
}

.getintouch_right label {
	color: #222222;
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

input[type=text], select {
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 14px;

}

input[type=text], select {
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	outline: none;
	margin: 8px 0;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #DFB9A4;
	color: #FFFFFF;
	padding: 24px 20px;
	margin: 40px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}

input[type=submit]:hover {
	background-color: none;
}

input[type=text]:focus {
	background-color: none;
	border: none;
	border-bottom: 1px dotted black;
}

@media screen and (max-width: 1000px) {



	.getintouch {
		height: 100%;
		padding-bottom: 40px;
	}

	.getintouch_left h4 ol li {
		color: #222222;
		text-align: left;
		font-family: Baskerville-URW, filosofia, serif;
		font-size: 24px;
		line-height: 32px;
		font-style: normal;
		font-weight: 400;
	}

	.getintouch_form {
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}

	.getintouch_left {
		padding: 60px 20px 0px 20px;
		margin-top: 0px;
		min-width: 400px;
		flex: 50%;
	}

	.getintouch_right {
		background-color: #FFFFFF;
		padding: 20px 40px 40px 40px;
		margin-top: 60px;
		margin-bottom: 20px;
		flex: 50%;
		height: fit-content;
	}

	input[type=submit] {
		width: 100%;
		background-color: #DFB9A4;
		color: #FFFFFF;
		padding: 20px;
		margin: 20px 0px 0px;
		border: none;
		cursor: pointer;
		font-family: urw-din, Helvetica Neue, Sans-Serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}

}

@media screen and (max-width: 800px) {



	.getintouch_left h4 ol li {
		color: #222222;
		text-align: left;
		font-family: Baskerville-URW, filosofia, serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
	}

	.getintouch_left {
		padding: 40px 40px 0px 30px;
		margin-top: 0px;
		min-width: 500px;
		flex: 50%;
	}

	.getintouch_right {
		background-color: #FFFFFF;
		padding: 20px 40px 0px 40px;
		margin-top: 0px;
		flex: 50%;
		height: fit-content;
	}

	input[type=submit] {
		width: 100%;
		background-color: #DFB9A4;
		color: #FFFFFF;
		padding: 24px 20px;
		margin: 40px 0;
		border: none;
		cursor: pointer;
		font-family: urw-din, Helvetica Neue, Sans-Serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}
	
	.getintouch {
		padding-bottom: 0px;
	}

	.getintouch_right {
		margin-bottom: 0px;
	}

}

@media screen and (max-width: 800px) {
	.arrow {
		visibility: hidden;
		display: none;
	}
}




/* LUNCH MENU –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */




#lunch_menu {
	padding: 40px 20px 120px 20px;	
	max-width: 800px;
	margin: auto;
}

#lunch_menu h5 {
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	padding: 0px 0px 8px 0px;
}

#lunch_menu h2 {
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	padding: 40px 0px 0px 0px;
}

#lunch_menu h1 {
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 40px;
	font-weight: 100;
	color: #222;
	letter-spacing: 2px;
	line-height: 40px;
	text-align: center;
	padding: 40px 0px 40px 0px;
}

#lunch_menu p {
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 20px;
	line-height: 28px;
	color: #222;
	text-align: center;
	padding: 0px 0px 20px 0px;
	margin: auto;
	max-width: 600px;
}

#lunch_menu .horiz {
	margin: auto;
	padding: 0px 0px 40px 0px;
	width: 120px;
	border-bottom: 1px dashed #222;
}

#lunch_menu .asterik p {
	font-family: Baskerville-URW, filosofia, serif;
	font-style: italic;
	font-size: 20px;
	line-height: 32px;
	width: 100%;
	font-weight: light;
	color: #666;
}

#lunch_menu .asterik {
	font-family: Baskerville-URW, filosofia, serif;
	margin: auto;
	padding: 40px 0px 20px 0px;
}

#lunch_menu .salad_sandwiches {
	margin: auto;
	padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 800px) {

	#lunch_menu {
		padding: 20px 20px 120px 20px;	
	}


	#lunch_menu h5 {
		font-family: Baskerville-URW, filosofia, serif;
		font-size: 26px;
		font-weight: 400;
		line-height: 40px;
	}

	#lunch_menu h2 {
		font-family: Baskerville-URW, filosofia, serif;
		font-size: 24px;
		font-weight: 400;
		line-height: 40px;
		text-align: center;
		padding: 40px 0px 20px 0px;
	}

	#lunch_menu h1 {
		font-family: urw-din, Helvetica Neue, Sans-Serif;
		font-size: 36px;
		font-weight: 100;
		color: #222;
		letter-spacing: 2px;
		line-height: 40px;
		text-align: center;
		padding: 40px 0px 40px 0px;
	}

	#lunch_menu p {
		font-family: urw-din, Helvetica Neue, Sans-Serif;
		font-size: 18px;
		line-height: 28px;
		color: #222;
		text-align: center;
		padding: 0px 0px 20px 0px;
	}

	#lunch_menu .horiz {
		margin: auto;
		padding: 0px 0px 20px 0px;
		width: 120px;
		border-bottom: 1px dashed #222;
	}

	#lunch_menu .asterik {
		font-family: Baskerville-URW, filosofia, serif;
		margin: auto;
		padding: 40px 0px 20px 0px;
	}

	#lunch_menu .asterik p {
		font-family: Baskerville-URW, filosofia, serif;
		font-style: italic;
		font-size: 18px;
		line-height: 26px;
		width: 100%;
		font-weight: 100;
	}


	#lunch_menu .salad_sandwiches {
		margin: auto;
		padding: 0px 0px 10px 0px;
	}

}




/* BUTTTON CTAS  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


#button_group_home a, #button_group_weddings a, #button_group_giftshop a, #button_group a {
	text-decoration: none;
}

.button1 {
	display: block;
	padding-left: 24px;
	padding-right: 24px;
	color: #FFF;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
}






@media screen and (max-width: 800px) {



	.button_home, .button2, .button1 {
		display: block;
		font-family: urw-din, Helvetica Neue, Sans-Serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 64px; 
		letter-spacing: 1.6px;
		background: #DFB9A4;
		padding: 0px 20px;
	}
	

	#button_group_home a:hover .button1 {
		color: #fff;
		background: #DFB9A4;
	}

	#button_group_home {
		padding-top: 40px;
		gap: 40px;
	}

}



/* Weddings  */

#button_group_weddings {
	padding-top: 48px;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 32px;
	justify-content: center;
}

.button_weddings {
	display: block;
	width: 245px;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	color: #222222;
	background: #FEF2DA;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
}

a:hover .button_weddings {
	color: #6219FF;
	background: #FEF2DA;
}

@media screen and (max-width: 800px) {

	.button_weddings {
		font-size: 16px;
		font-weight: 400;
		min-width: 400px;
		padding: 0px 20px;
		margin: 0px 20px;
	}

	#button_group_weddings a {
		text-decoration: none;
		color: #222;
	}

}



/* Gift Shop  */

#button_group_giftshop {
	padding-top: 48px;
	padding-bottom: 0px;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 32px;
	justify-content: center;
}

.button_giftshop {
	display: block;
	width: 245px;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	color: #7B7261;
	background: #E4F4E9;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
}

a:hover .button_giftshop {
	color: #6219FF;
}


@media screen and (max-width: 800px) {

	.button_giftshop {
		font-size: 16px;
		font-weight: 400;
		min-width: 400px;
		max-width: 100%;
		padding: 0px 20px;
		margin: 0px 0px;
	}


	#button_group_giftshop a {
		text-decoration: none;
		color: #222;
	}


}








/* HOME - PARALLAX –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


#parallax {
	max-width: 1280px;
	margin: auto;
	margin-top: 40px;
}
	
#parallax h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 12px;
	font-size: 72px;
	line-height: 72px;
}

#parallax h2 {
	color: #FFFFFF;
	text-align: center;;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .2px;
	font-size: 48px;
	line-height: 56px;
}

.button_parallax {
	margin: 40px auto 30px auto;
	padding: 0px 28px 0px 28px;
	background-color: #FEF2DA;
	border: none;
	letter-spacing: 4px;
	color: #222222;
	text-align: center;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	font-size: 16px;
	line-height: 54px;
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
}

#parallax p {
	color: #222222;
	text-align: center;
	font-family: Baskerville-URW, filosofia, serif;
	font-weight: 200;
	font-style: normal;
	width: 860px;
	margin: auto;
	font-size: 24px;
	line-height: 34px;
}

#parallax #parallax_01_block, #parallax #parallax_02_block, #parallax #parallax_03_block, #parallax #parallax_04_block {
	background: white; 
	padding: 60px 60px 60px 60px; 
	margin:0 auto; 
	text-align: justify;
}

#parallax .section_overlay_mask {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	opacity: 0.70;
}

#parallax #parallax_01 {
	padding: 200px 40px 200px 40px; 
	overflow: hidden; 
	position: relative; 
	border-radius: 4px;
	margin: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/home/parallax_05.jpg");
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center;
}

#parallax #parallax_02 {
	padding: 200px 40px 200px 40px; 
	overflow: hidden; 
	position: relative; 
	border-radius: 4px;
	margin: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/home/parallax_07.jpg");
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}

#parallax #parallax_03 {
	padding: 200px 40px 200px 40px; 
	overflow: hidden; 
	position: relative; 
	border-radius: 4px;
	margin: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/home/parallax_03.jpg");
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}


#parallax #parallax_04 {
	height: 472px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
	position: relative; 
	border-radius: 4px;
	margin: auto;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../images/phm/phm_hero_2.jpg");
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}

#parallax hr {
	margin: 40px auto 40px auto;
	width: 120px;
}

@media screen and (max-width: 1280px) {
	#parallax #parallax_01, #parallax #parallax_02, #parallax #parallax_03 {
		border-radius: 0px;
	}
}

@media screen and (max-width: 1000px) {

	#parallax p {
		width: auto;
		font-size: 24px;
		line-height: 34px;
	}

	#parallax #parallax_01, #parallax #parallax_02, #parallax #parallax_03 {
		padding-top: 115px; 
		padding-bottom: 115px;
	}

	#parallax #parallax_04 {
		height: 302px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/phm/phm_hero_2.jpg");
	}

	#parallax #parallax_04 img {
		scale: .74;
	}




}

@media screen and (max-width: 800px) {

	#parallax #parallax_01_block, #parallax #parallax_02_block, #parallax #parallax_03_block, #parallax #parallax_04_block {
		padding: 40px 40px 40px 40px; 
		margin: auto;
		width: auto;
	}

	#parallax h1 {
		font-size: 60px;
		padding-left: 10px;
	}

	#parallax #parallax_01, #parallax #parallax_02, #parallax #parallax_03 {
		padding-top: 100px; 
		padding-bottom: 100px;
		background-attachment: inherit; 
	}

	#parallax #parallax_04 {
		height: 272px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-attachment: inherit; 
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/phm/phm_hero_2.jpg");
	}

	#parallax #parallax_04 img {
		scale: .74;
	}



}




/* WEDDINGS - PARALLAX –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

	
#weddings_about_us h1 {
	text-transform: uppercase;
	letter-spacing: 8px;
}
	

		
#weddings_about_us #parallax_01_block, #weddings_about_us #parallax_02_block {
	padding-bottom: 100px;
}

#weddings_about_us #parallax #parallax_01 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/weddings/about_us/our_story.jpg");
}

#weddings_about_us #parallax #parallax_02 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/weddings/about_us/the_farm2.jpg");
}

@media screen and (max-width: 1000px) {
	
#weddings_about_us #parallax {
	margin-top: 0px;
}

}

@media screen and (max-width: 800px) {
	
	#weddings_about_us h1 {
		font-size: 40px;
	} 

	#weddings_about_us p {
		font-size: 22px;
		line-height: 32px;
	}

	#weddings_about_us #parallax_01_block, #weddings_about_us #parallax_02_block {
		padding-bottom: 60px;

	}


}











/* PRODUCTS –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.prod_button {
	width: 100%;
	height: 60px;
	background: #44F4B3;
	border: none;
	margin: 16px auto auto auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	font-size: 14px;
	font-family: urw-din, Helvetica Neue, Sans-Serif;
	letter-spacing: 1.4px;
	padding-bottom: 20px;
	line-height: 60px;
	vertical-align: middle;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	color: #111;
	cursor: pointer;
}

.prod_button img {
	display: inline-block;
	vertical-align: middle;
	padding: 14px 0px 21px 4px;
}

.prod_grid {
	padding: 0px 20px 100px 20px;
	margin: auto;
	max-width: 1280px
}

.prod_row_1, .prod_row_2, .prod_row_3 {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.prod_row_3 {
	padding-top: 20px;
}


.prod_column_0 {
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
	border: 2px solid #44F4B3;
	background-color: #FFFFF6;
}

.prod_column_0 .prod_container {
    display: block;
	margin: 12px;
	height: 450px;
	overflow: hidden;
    text-align: center;
	background-image: url('../images/giftshop/products/prod_hero2.jpg');
    background-position: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {
	.prod_column_0 .prod_container {
		height: 320px;
	}
}

.prod_column_0 .prod_container img{
	margin: 12px;
	height: 100%;
}

.prod_column_1 {
	width: 33.33%;
	margin: auto;
	border: 2px solid #44F4B3;
	background-color: #FFFFF6;
}

.prod_column_2 {
	width: 50%;
	margin: 20px auto auto auto;
	border: 2px solid #44F4B3;
	background-color: #FFFFF6;
}

.prod_image_container {
	height: auto;
	overflow: hidden;
}


.prod_column_1 img {
	height: auto;
}

.prod_column_1 p, .prod_column_2 p {
	padding: 8px 12px 20px 12px;	
	overflow: hidden;
    color: #222222;
    text-align: left;
    font-family: urw-din, Helvetica Neue, Sans-Serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
}

.prod_column_1 p {	
	height: 88px;
}

.prod_column_2 p {	
	height: 72px;
}

.prod_column_1 h5, .prod_column_2 h5 {
	padding: 12px 12px 0px 12px;	
}

.prod_container {
	height: 100%;
	padding: 12px;
}

.prod_column_1 img, .prod_column_2 img {
	width: 100%;
}


.intro {
	text-align: center;
	line-height: 34px;
	max-width: 780px;
	margin: 60px auto 0px auto;
	padding: 0px 40px 60px 40px;
	color: #444444;
}



.intro a {
	text-decoration: none;
	color: #6219FF;
}

.intro a:hover {
	background: #E4F4E9;
}

.intro .outlink_icon {
	vertical-align: middle;
	display: inline-block;
	padding: 0px;
	background: none;
}

.nowrap{
	white-space: nowrap;
}





@media screen and (max-width: 1200px) {

	.prod_column_1 p, .prod_column_3 p {
		height: 124px;
	}

	.prod_column_2 p {
		height: 80px;
	}

}	

@media screen and (max-width: 1000px) {
	.prod_column_1 p, .prod_column_2 p {
		font-size: 16px;
		line-height: 24px;
	}

	.prod_column_1 h5 {
		font-size: 18px;
	}

	.prod_intro h5 {
		padding: 0px 40px 0px 40px;
	}
}	

@media screen and (max-width: 800px) {
	.prod_column_1, .prod_column_2 {
		float: left;
		width: 100%;
		margin: auto;
	}

	.prod_row_3 {
		padding-top: 0px;
	}

	.prod_row_1, .prod_row_2, .prod_row_3 {
		display: flex;
		margin-top: 20px;
		flex-direction: column;
		gap: 20px;
	}

	.prod_column_1 p {
		height: 80px;
		font-size: 20px;
		line-height: 30px;
	}

	.prod_column_2 p {
		height: 80px;
		font-size: 20px;
		line-height: 30px;
	}

	.prod_column_1 h5, .prod_column_2 h5 {
		font-size: 24px;
	}

	.prod_image_container {
		height: 260px;
		overflow: hidden;
		position: relative;
	}

	.prod_image_container img {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
	}

	.intro {
		padding: 0px 20px 40px 20px;
	}


}	

@media screen and (max-width: 650px) {

	.prod_column_1 p, .prod_column_2 p {
		height: 100px;
		font-size: 20px;
		line-height: 30px;
	}

	.intro {
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		max-width: 780px;
		margin: 60px auto 20px auto;
		padding: 0px 40px 20px 40px;
		color: #444444;
	}


	.intro .outlink_icon {
		scale: .8;
		height: 40px;
	}


}	






/* PHOTOSHOOTS –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


#photo {
	background-color: #F8F4F1;
	padding: auto;
	padding-bottom: 120px;
}

#photo_table {
	border-collapse: collapse;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

#photo_table td {
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 20px;
	width: 33%;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	background-color: #fff;
	color: #222;
}

#photo_table th {
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 20px;
	width: 33%;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	color: #222;
}


#photo_table th {
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 20px;
	width: 33%;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	border: 4px solid #fff;
	background-color: none;
	color: #222;
}

.photo_table2, .photo_table3 {
	border: 4px solid #fff;
	border-bottom: 4px solid #F8F4F1;
}

.photo_table3 {
	border-bottom: none;
	border-top: none;
}

.intro_note {
	font-family: Baskerville-URW, filosofia, serif;
	font-style: italic;
	font-size: 20px;
	line-height: 32px;
	width: 100%;
	font-weight: 100;
	color: #6219FF;
}



@media screen and (max-width: 650px) {

	#photo_table td {
		font-family: Baskerville-URW, filosofia, serif;
		font-size: 16px;
		width: 33%;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#photo_table th {
		font-family: Baskerville-URW, filosofia, serif;
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

}



/* FOOTER –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


footer div {
	letter-spacing: 1px;
}

footer {
	margin: 40px auto auto auto;
	border-top: 1px dashed #888;
	background-color: #FFFFFF;
	padding: 40px 40px 200px 40px;
}

footer .info_1 {
	order: 1;
}

footer .info_2 {
	order: 2;
}

footer .info_3 {
	order: 3;
}

footer .info_2, footer .info_1, footer .info_3 { 
	float: left;
	width: 33%;
	padding: 40px 40px 0px 40px;
	text-align: center;
}

footer .info_1 div, footer .info_3 div { 
	padding-top: 20px;
}

footer .row p {
	font-family: Baskerville-URW, filosofia, serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #222;
	text-align: center;
}

footer .row {
	max-width: 1280px;
	margin: auto;
}

footer .row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 1000px) {

	footer {
		margin: 40px auto auto auto;
	}

	footer .info_1 {
		order: 1;
	}

	footer .info_2 {
		order: 3;
	}

	footer .info_3 {
		order: 3;
	}

	footer .info_1, footer .info_2, footer .info_3 { 
		width: 50%;
		height: auto;
	}
	

	
	.info_3 {
		text-align: right;
		padding-top: 40px;
		height: 100%;
		overflow: hidden;
	}

	.info_3 showup {
		height: 200px;
		
	}

	footer .info_1 div, footer .info_2 div, footer .info_3 div { 
		width: 100%;
		margin: auto;
	}

	footer .row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	footer .row p {
		text-align: left;
	}
	
}

@media screen and (max-width: 640px) {



	footer .info_1, footer .info_2, footer .info_3 { 
		width: 100%;
	}
	
	
	footer .info_1 {
		order: 1;
	}

	footer .info_2 {
		order: 3;
	}

	footer .info_3 {
		order: 2;
	}

	
	footer .info_2 {
		text-align: cneter;
		padding-top: 80px;
	}

	footer .row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-bottom: 40px;
	}
	
	footer .row p {
		text-align: center;
	}
}






