---
layout: default
title: Weddings & Events
---

<style>

#hero_phm {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(248, 244, 241, .8)), url("images/other/vibrant_lav_field_w_silo.jpg");
	height: 80vh;
}

.gallery_row > .gallery_column {
	padding: 4px 2px;
}


body {
	background-color: #F8F4F1;
}

#team {
	background-color: #F8F4F1;
}

.team_container {
	margin: auto;
	margin-top: 40px;
	border: 20px solid #F8F4F1;
	padding: 180px auto 180px auto;
	background-color: #F8F4F1;
	max-width: 1280px;
}
.team_grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.team_member { 
	border: 30px solid #F8F4F1;
	background-color: #F8F4F1;
	justify-content: top;
	display: flex;
	align-team_members: left;
	height: auto;
	flex-direction: column;
}

.team_member img { 
	width: 100%;
}

.team_member .team_member_info {
	padding-top: 20px;
	float: left;
	color: #222;
	width: 100%;
}

.team_member .team_member_info h6 {
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
}




@media all and (min-width: 670px) {

	.team_container {
		width: 100%;
	}

	.team_grid {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: min-content;
		grid-gap: 10px;
	}
}

@media all and (min-width: 900px){
	.team_grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
}

	
</style>

<script src="js/javascript.js"></script>



</head>

<body>

<!--------------- NAVIGATION –––––––––––––––––––––––-->

{% include nav.html %}







<!--------------- HERO –––––––––––––––––––––––-->

<section id="hero_phm">
		<div class="logo_hero_phm">
		<img src="images/phm/phm_logo.svg"/>
		</div>

	<!-- <div id="button_group_weddings">
		<a href="#">
		<div class="button_weddings">
			Book a consultation
		</div>
		</a>	
	</div> -->
	
	</div>

</section>

<!--------------- PHM CONTENT –––––––––––––––––––––––-->

<section id="phm_content">

</section>

<div class='about_us'>


	<div class="divider">
		Activities
	</div>

<!--------------- ABOUT US –––––––––––––––––––––––-->

	<div class="about_copy_image">
	  <div class="about_row">
  
		<div class="about_left_copy">
			<h1 class=h1b>Guided Tours</h1>
			<p>Fish i must find my red catnip fishy fish bury the poop bury it deep to pet a cat, rub its belly, endure blood and agony, quietly weep, keep rubbing belly but ask to be pet then attack. Quietly weep, keep rubbing belly but no.
			<br><br>
			Fish i must find my red catnip fishy fish bury the poop bury it deep to pet a cat. Fishy fish bury the poop bury it deep to pet a cat rub its belly. Endure blood and agony, quietly weep, keep rubbing belly but ask to be pet then attack. </p>
		</div>

		<div class="about_right_image">
			<div>
				<img src="images/weddings/about_us/our_story.jpg">
			</div>
		</div>
		</div>
	</div>


	<div class="about_image_copy">
	  <div class="about_row">
		<div class="about_left_image">
			<div>
				<img src="images/weddings/about_us/the_farm.jpg">
			</div>
		</div>
		<div class="about_right_copy">
			<h1 class=h1b>Photoshoots</h1>
			<p>Fish i must find my red catnip fishy fish bury the poop bury it deep to pet a cat, rub its belly, endure blood and agony, quietly weep, keep rubbing belly but ask to be pet then attack. Quietly weep, keep rubbing belly but no.
			<br><br>
			Fish i must find my red catnip fishy fish bury the poop bury it deep to pet a cat. Fishy fish bury the poop bury it deep to pet a cat rub its belly. Endure blood and agony, quietly weep, keep rubbing belly but ask to be pet then attack. </p>
		</div>
		</div>
	</div>


</div>

<!--------------- OUR TEAM –––––––––––––––––––––––-->

<section id="team">


<div class="divider">
	OUR TEAM
</div>

<div class="team_container my-4">
	<div class="team_grid m-0 p-0">
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
		<div class="team_member">
			<img class="img-fluid" src="images/mugs/tina.jpg">
			<div class="team_member_info">
				<h6>Tina Kapor</h6>
				<h6>Head of Everything</h6>
			</div>
		</div>
	</div>
</div>


</section>




<!--------------- FOOTER –––––––––––––––––––––––-->

{% include footer.html %}


</body>
</html>