---
layout: default
title: Pageo Lavender Farm
---

<style>

#home_hero {
	background-image: url("images/home/main_hero_BG.jpg");
}


</style>

<script src="js/javascript.js"></script>
<script src="js/dist/index.global.min.js"></script>
<script>

	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
		  initialView: 'dayGridMonth'
		});
		calendar.render();
	});

</script>



</head>


<body>




<!--------------- NAVIGATION –––––––––––––––––––––––-->

{% include nav.html %}




<!--------------- HERO –––––––––––––––––––––––-->

<div id="home_hero">



	<div class="hero_info">
		<div class="logo_hero_home">
		<img src="images/global/logo.svg"/>
		</div>

<!--
		<article>
			<h2 style="color:#FFFFFF; text-align:center;">
			Central valley’s premiere <br> lavender farm and venue.
			</h2>
		</article>
-->


		<div id="button_group_home">
			<a href="weddings.html">
			<div class="button_home">
				Weddings & Events
			</div>
			</a>
			<a href="giftshop.html">
			<div class="button_home">
				Gift Shop & Services
			</div>
			</a>
		</div>
	</div>
<center>


	  
</center>
</div>



	
<!-- ANNOUNCEMENT CONTAINER -->


<section class="tout1">
	<h3 style='text-align:center'>
		Contact us for event inquiries, tour&nbsp;of&nbsp;the venue or to schedule a&nbsp;free&nbsp;consultation.
	</h3>
	<h5 style='text-align:center'>
		Gift Shop & Lunches:<br>
		<b>209-262-0131</b>
	</h5>	
	<h5 style='text-align:center'>
		Weddings & Events:<br>
		<b>209-632-5052</b>			
	</h5>
	<h5 style='text-align:center'>
		Wednesday & Thursday: 10am to 4pm<br>
		Friday & Saturday: 9am to 2pm
	</h5>
	<h5 style='text-align:center'>
		11573 Golf Road, Turlock, Ca, 95380<br>
		PageoFarms@gmail.com
	</h5>
</section>

	
<!-- PARALLAX -->



<div id="parallax">


<section>
	<div id="parallax_04">
		<img src="images/phm/phm_logo.svg"/>
	</div>
</section>

<section>
	<div id="parallax_02_block">
		<p>
		We are proud to announce the 8th annual Pageo Holiday Market taking&nbsp;place&nbsp;on&nbsp;November&nbsp;30th.
		</p>
		<p>
		<a href="https://www.pageoholiday.com" target="_blank"><button class="button_parallax" style="background-color:#44F4B3">MORE INFO</button></a>
		</p>
		<hr>
	</div>
</section>
  

<section>
	<div id="parallax_01">
		<div class="parallax_card">
		<h1>EVENTS</h1>
		</div>
	</div>
</section>

<section>
	<div id="parallax_01_block">
		<p>
		A picturesque landscape with rows of green and lavender that provide an ideal backdrop for your wedding. Let us help you create a day that is truly&nbsp;unforgettable.
		</p>
		<p><a href="weddings.html"><button class="button_parallax" style="background-color:#E4F4E9">SEE MORE</button></a></p>
		<hr>
	</div>
</section>

<section>
	<div id="parallax_02">
		<h1>SHOP</h1>
	</div>
</section>

<section>
	<div id="parallax_02_block">
		<p>
		With a wide array of handmade lavender products – everything from pillows to beard oil – we provide anything you might need to pamper yourself&nbsp;properly.
		</p>
		<p>
		<a href="giftshop.html#products"><button class="button_parallax" style="background-color:#EFDED4">VIEW PRODUCTS</button></a>
		</p>
		<hr>
	</div>
</section>

<section>
	<div id="parallax_03">
		<div class="parallax_card">
		<h1>LUNCHES</h1>
		</div>
	</div>
</section>

<section>
	<div id="parallax_03_block">
		<p>
		Spend your afternoon dining with us. Our seasonal menus are complete with a selection of dishes prepared on-site by our catering&nbsp;team.
		</p>
		<p><a href="giftshop.html#lunch"><button class="button_parallax">VIEW MENU</button></a>
		</p>
		<hr>
	</div>
</section>





  
</div>




<!-- AWARDS -->


<section id="awards">
	<div class="awards_content">
		<div class="award_row1">
			<div class="award"><img src="images/awards/award_tj.svg" class="award_filter"/></div>
			<div class="award"><img src="images/awards/award_209b.svg" class="award_filter"/></div>
		</div>
		<div class="award_row1">
			<div class="award"><img src="images/awards/award_knot6.svg" class="award_filter"/></div>
			<div class="award"><img src="images/awards/award_ww3.svg" class="award_filter"/></div>
		</div>
	</div>
</section>





<!--------------- GET IN TOUCH –––––––––––––––––––––––-


<div class="divider">
Get in Touch
</div>

<div class="getintouch_background">
	<div class="getintouch">
		<div class="getintouch_left">
		<div class='arrow'>
			<img style='max-width:400px' src="images/global/arrow.png"/>
		</div>
		<h4>
		<ol>
			<li> Fill out the inquiry form and submit.</li>
			<li> Receive pricing information and availability dates.</li>
			<li> Book a tour of the venue for a free consultation.</li>
		</ol>
		</h4>
		</div>
		<div class="getintouch_right">
			<div>
				<form action="/action_page.php">
    				<input type="text" id="fname" name="firstname" placeholder="Full Name">
    				<input type="text" id="lname" name="lastname" placeholder="Email Address">
    				<input type="text" id="lname" name="lastname" placeholder="Event Type (Wedding, Shower, etc.)">
    				<input type="text" id="lname" name="lastname" placeholder="Date(s) of Interest)">
    				<input type="text" id="lname" name="lastname" placeholder="Est. Number of Guests">
    				<input type="text" id="lname" name="lastname" placeholder="Days of the week that you are open to">
  					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>


-->




<!--------------- FOOTER –––––––––––––––––––––––-->

{% include footer.html %}



</body>
</html>
