<footer>
	<div class="row">
		<div class="info_1">
			<div>
			<p>Pageo Lavender Farm</p>
			<p>11573 Golf Road</p>
			<p>Turlock, Ca, 95380</p>
			</div>
		</div>
		
		<div class="info_2" style="overflow: visible;">
			<div class="showup">
				<img src="images/global/logo_dark.svg" width="150" height="150">
			</div>
		</div> 
		<div class="info_3">
			<div>
			<p>Info@pageolavenderfarm.com</p>
			<p>Phone:  209.632.5052</p>
			<p>Fax:  209.634.1379</p>
			</div>
		</div> 

	</div>
</footer>

<script src="js/lightbox-plus-jquery.js"></script>

<script>

document.addEventListener('keyup',function(e){
    if (e.key === "Escape") { 
        // hide modal code
        closeModal()
    }
});

</script>

</script>

<!-- ++++++++++ DISABLE SCROLLBAR ++++++++++ -->

<script>
$(".gallery_column").click(function(){
	$('body').css("overflow", "hidden");
});

$(".close").click(function(){
	$('body').css("overflow", "visible");
});

$(document).keyup(function(e) {
 if (e.key === "Escape") { 
    $('body').css("overflow", "visible");
  }
});

</script>
<script>
	$(".openNav").click(function(){
	$('body').css("overflow", "hidden");
});

	$(".closebtn").click(function(){
	$('body').css("overflow", "visible");
});

	$(".overlay_link").click(function(){
	$('body').css("overflow", "visible");
});

	$(".topnav_mobile_subnav").click(function(){
	$('body').css("overflow", "visible");
});



</script>
